{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="corps"><br>
			<div class="presentation d-none d-md-block">
				{% for plat in plat %}
					<div class="align-content:center">
							<img src='{{ asset("/images_the_district/food/" ~ plat.image )}}' class="img-plat" alt={{plat.description}}>
						<div><br>{{plat.libelle |upper}}<br>{{plat.description}}
						</div>
					</div>
				{% endfor %}

                <br>


		<button type="button" class="button"><a href={{ path('app_addpanier', {id:plat[0].id}) }}>Commander</a></button>

		<br>
			</div>
		</div>
	</div>
{% endblock %}
