{% extends 'base.html.twig' %}

{% block title %}{{titre}}{% endblock %}

{% block body %}
<div class="container-fluid">
		<div class="corps"><br>
			<div class="presentation d-none d-md-block">
				<h1>Nos
					{{ categorie | length }}
					Catégories</h1>
				<div class="row g-3">

					{% for categorie in categorie %}
						<div class="col-md-6">
							<a href={{categorie.id}} class="img-link">
								<img src='{{ asset("/images_the_district/category/" ~ categorie.image )}}' class="img-link" alt={{categorie.libelle }}></a>
							<div class="cache">{{categorie.libelle |upper}}<b class="btn-primary p-1">{{ categorie.plats | length }}</b>
								plats</div>
						</div>
					{% endfor %}

				</div>
			</div>
			<br>

			<br><br>
		</div>
	</div>
</div>


{% endblock %}