{% extends 'base.html.twig' %}

{% block title %}
	{{titre}}
{% endblock %}

{% block body %}
	<div class="corps"><br>
<br>
 <!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  {% for slide in categorie %}
  <div class="mySlides">
  <div class="numbertext">{{slide.id}} / {{categorie |length}}</div>
    <a href='/plats/~ {{slide.id}}' title="Acceuil" class="nav-link header">
    <img src='{{ asset("/images_the_district/category/" ~ slide.image )}}' class="img-slide" >
    </a>
    <div class="text">{{slide.libelle}}</div>
  </div>
{% endfor %}

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<script>
let slideIndex = 0;
showSlides();

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  slides[slideIndex-1].style.display = "block";
  setTimeout(showSlides, 5000); // Change image every 5 seconds
} 
</script>
{% endblock %}
